/* Universal Styles */
* {
  font-family: sans-serif;
  color: white;
}

body {
  background-image: url('../../assets/atx-skyline-sunset.jpeg');
  background-color: black;
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Home Page Styles */
.index_h1,
.index_h2,
.index_h3,
.index_h4,
p {
  text-align: center;
}
